<!DOCTYPE html>
<html ng-app="LaundrySystem">
<head>
    <meta charset="utf-8">
	<title>Laundry System</title>
	<script type="text/javascript" src="static\angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="static\bootstrap.min.css">
	<script type="text/javascript" src="static\ui-bootstrap-tpls-0.12.1.min.js"></script>
	<script>
		angular.module('LaundrySystem', ['ui.bootstrap']);
	  	angular.module('LaundrySystem').controller('CarouselDemoCtrl', function ($scope) {
			$scope.myInterval = 5000;
			var slides = $scope.slides = [];
			$scope.addSlide = function() {
				var newWidth = 600 + slides.length + 1;
				slides.push({
					image: 'http://placekitten.com/' + newWidth + '/300',
					text: ['More','Extra','Lots of','Surplus'][slides.length % 4] + ' ' +
					['Cats', 'Kittys', 'Felines', 'Cutes'][slides.length % 4]
				});
			};
			for (var i=0; i<4; i++) {
				$scope.addSlide();
			}
		});
	</script>
</head>
<body>
	<header class="navbar navbar-default navbar-fixed-top">
	    <div class="navbar-inner">
	        <div class="container">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" ng-click="isCollapsed = !isCollapsed">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand visible-xs" href="#">洗衣中心</a>
	            </div>
	            <nav class="hidden-xs">
	                <ul class="nav navbar-nav">
	                    <a href="#top" role="button" class="navbar-brand">
	                        洗衣中心
	                    </a>
	                    <li><a href="" ng-init="dizhi=false" ng-click="dizhi=!dizhi">地址(修改)</a></li>
	                    <li><a href="" ng-init="dingdan=false" ng-click="dingdan=!dingdan">查看订单</a></li>
	                    <li><a href="" ng-init="denglu=false" ng-click="denglu=!denglu">登陆</a></li>
	                    <li><a href="" ng-init="zhuce=false" ng-click="zhuce=!zhuce">注册</a></li>
	                    <li><a href="" ng-init="gouwuche=false" ng-click="gouwuche=!gouwuche">购物车</a></li>
	                </ul>
	            </nav>
	            <nav class="visible-xs" collapse="!isCollapsed">
	                <ul class="nav navbar-nav">
	                    <li><a href="#getting_started" ng-click="isCollapsed = !isCollapsed">Getting started</a></li>
	                    <li><a href="#directives_small" ng-click="isCollapsed = !isCollapsed">Directives</a></li>
	                </ul>
	            </nav>
	        </div>
	    </div>
	</header>

	<div class="jumbotron" ng-show="denglu" style="width: 600px; align: center;">
		<h1>Hello, world!</h1>
		<p>...</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>
	
	<div class="jumbotron" ng-show="denglu" style="width: 600px; align: center;">
		<h1>Hello, world!</h1>
		<p>...</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>

	<div class="jumbotron" ng-show="zhuce" style="width: 600px; align: center;">
		<h1>Hello, world!</h1>
		<p>...</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>

	<div class="jumbotron" ng-show="dizhi" style="width: 600px; align: center;">
		<h1>Hello, world!</h1>
		<p>...</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>

	<div class="jumbotron" ng-show="gouwuche" ng-controller="gouwucheCtrl" style="width: 600px; align: center;">		
		<ul ng-model="goodsList">
			<li ng-repeat="x in goodsList">
				{{ x.name + ', ' + x.price }}
			</li>
		</ul>
	</div>
	
	<div ng-controller="CartController">
    <h1>Your Order</h1>
    <div ng-repeat="item in items">
		<span>{{item.title}}</span>
		<input ng-model="item.quantity" />
		<span>{{item.price | currency}}</span>
		<span>{{item.price * item.quantity | currency}}</span>
		<button ng-click="remove($index)">Remove</button>
    </div>
	</div>
	
	<div ng-controller="CarouselDemoCtrl">
	  	<div style="height: 305px">
	    	<carousel interval="myInterval">
				<slide ng-repeat="slide in slides" active="slide.active">
					<img ng-src="{{slide.image}}" style="margin:auto;">
					<div class="carousel-caption">
						<h4>Slide {{$index}}</h4>
						<p>{{slide.text}}</p>
					</div>
				</slide>
			</carousel>
		</div>
	</div>
	
	<div class="row" align="center">
		<div class="col-sm-6 col-md-2 col-md-offset-4">
			<div class="thumbnail">
				<img src="img/西裤.jpg" alt="...">
				<div class="caption">
					<h3>Thumbnail label</h3>
					<p>...</p>
					<p><a class="btn btn-primary" ng-click="addGoods()" role="button">Button</a> <a href="#" class="btn btn-default" role="button">加入购物车</a></p>
				</div>
			</div>
		</div>
	</div>
	
	<footer class="footer">
		<div class="container">
			<p>Made by LuHao.</p>
		</div>
	</footer>
	
    <script>
      angular.module('LaundrySystem').controller('CartController', function CartController($scope) {
        $scope.items = [
			{title: 'Pots', quantity: 8, price: 3.95},
			{title: 'Dots', quantity: 17, price: 12.95},
			{title: 'Pebbels', quantity: 5, price: 6.95}
        ];
        $scope.remove = function(index) {
			$scope.items.splice(index, 1);
        };
      });
    </script>
	
		<script>
			angular.module('LaundrySystem').controller('gouwucheCtrl', function ($scope) {
				var goodsList = $scope.goodsList;
				addGoods = function () {
					goodsList.push {
						name: "haha";
						price: 5;
					}
				}
			});
		</script>
</body>
</html>