<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="uikit.min.css">
    <script type="text/javascript" src="static\angular.min.js"></script>
    <script type="text/javascript" src="static\angular-cookies.min.js"></script>
    <script type="text/javascript">

        var app = angular.module('LaundrySystem', ["ngCookies"])

        app.controller('ShoppingCartController', function ($scope, $cookieStore) {
			ProcessShow = 0;
			processIndex = 0;
            CartShow = 0;
            registerUser = 0;
            currentUser = "鲁浩";
			$scope.cart = $cookieStore.get("cart") || [];

            $scope.removeGoods = function (index) {
                $scope.cart.splice(index, 1);
				$cookieStore.put("cart", $scope.cart);
            };

            $scope.increaseGoods = function (index) {
                $scope.cart[index].quantity += 1;
				$cookieStore.put("cart", $scope.cart);
            }

            $scope.decreaseGoods = function (index) {
                $scope.cart[index].quantity -= 1;
                if ($scope.cart[index].quantity == 0) {
                    $scope.cart.splice(index, 1);
                }
				$cookieStore.put("cart", $scope.cart);
            }

            $scope.totalQuantity = function () {
                return $scope.cart.length;
            }

            $scope.totalPrice = function () {
                var total = 0;
                for (var i in $scope.cart) {
                    total += $scope.cart[i].quantity * $scope.cart[i].price;
                }
                return total;
            };

            $scope.addGoods = function (n, p) {
                for (var i in $scope.cart) {
                    if ($scope.cart[i].name == n) {
                        $scope.cart[i].quantity += 1;
                        $cookieStore.put("cart", $scope.cart);
                        return;
                    }
                }
                $scope.cart.push({name: n, quantity: 1, price: p});
                $cookieStore.put("cart", $scope.cart);
            };

            $scope.clearGoods = function () {
                $scope.cart.splice(0, $scope.cart.length);
				$cookieStore.put("cart", $scope.cart);
            };
        });

        app.controller('GoodsListController', function ($scope, $http) {
            $http.get('http://localhost:5000/goodsList')
            .success(function(data, status, headers, config) {
                $scope.items = data.goods;
            })
            .error(function(data, status, headers, config) {
                alert("网络繁忙！");
            });
        });

        app.controller('AddressController', function ($scope) {
            AddrShow = 0;
            Regions = 0;
            region = 1;
            // var currentAddr = $cookieStore.get('currentAddr');
            // $scope.confirmAddr = function(n) {
            //     $cookieStore.put('currentAddr', n);
            // }
        });

        app.controller('HistoryController', function ($scope) {

        });

        app.controller('SignupController', function ($scope, $http) {
            SignupShow = 0;
            seDir = 0;
            buildID = null;
            $scope.signup = function () {
                alert(JSON.stringify({'username': $scope.username, 'password': $scope.password, "phonenum": $scope.phonenum, "address": $scope.sectionSelect + $scope.buildID}));
                $http.post('http://localhost:5000/signup', JSON.stringify({'username': $scope.username, 'password': $scope.password, "phonenum": $scope.phonenum, "address": $scope.sectionSelect + $scope.buildID}))
                .success(function(data, status, headers, config) {
                    if (data.msg == "YES") {
                        alert("注册成功！");
                    } else{
                        alert("注册失败！");
                    };
                })
                .error(function(data, status, headers, config) {
                    alert("网络繁忙！");
                })
            }
        });

        app.controller('LoginController', function ($scope, $http) {
            LoginShow = 0;
            $scope.login = function () {
                $http.post('http://localhost:5000/login', JSON.stringify({'username': $scope.username, 'password': $scope.password}))
                .success(function(data, status, headers, config) {
                    if (data.msg == "YES") {
                        alert("登录成功！");
                    } else{
                        alert("用户名或密码错误！");
                    };
                })
                .error(function(data, status, headers, config) {
                    alert("网络繁忙！");
                })
            }
        });

        app.controller('FeedBackController', function ($scope, $http) {
            FeedBackShow = 0;
            $scope.fbUpload = function () {
                $http.post('http://localhost:5000/feedback', JSON.stringify({'contact': $scope.fbContact, 'content': $scope.fbContent}))
                .success(function(data, status, headers, config) {
                    if (data.msg == "YES") {
                        alert("提交成功！");
                    }
                })
                .error(function(data, status, headers, config) {
                    alert("网络繁忙！");
                })
            }
        });

    </script>
</head>
<body ng-app="LaundrySystem">


<!--     <div ng-controller="AddressController">
        <button ng-click="AddrShow=!AddrShow">当前地址：{{ currentAddr }}</button>
        <div ng-show="AddrShow">
            <ul>
                <li><span ng-mouseenter="Regions=0">上海</span></li>
                <li><span ng-mouseenter="Regions=1">杭州</span></li>
                <li><span ng-mouseenter="Regions=2">南京</span></li>
            </ul>
            <div ng-show="!Regions">
                <ul>
                    <li>
                        <span ng-mouseenter="region=0">闵行</span>
                    </li>
                    <li>
                        <span ng-mouseenter="region=1">松江</span>
                    </li>
                </ul>
                <ul ng-show="!region">
                    <li>上海交通大学</li>
                    <li>华东师范大学</li>
                    <li>紫竹科技园区</li>
                </ul>
                <ul ng-show="region==1">
                    <li>松江大学城一期</li>
                    <li>松江大学城二期</li>
                    <li>松江大学城三期</li>
                </ul>
            </div>
        </div>
    </div> -->

    <nav class="uk-navbar" ng-controller="ShoppingCartController">

        <a href="" class="uk-navbar-brand">洗衣中心</a>
        <div class="uk-navbar-content uk-navbar-center">
            <ul class="uk-navbar-nav">
                <li><a>历史订单</a></li>
                <li><a ng-click="LoginShow=!LoginShow">登录</a></li>
                <li><a ng-click="SignupShow=!SignupShow">注册</a></li>
            </ul>
        </div>
        <a class="uk-navbar-flip" ng-click="CartShow=!CartShow">购物车 {{ totalQuantity() }} 个项目 总价：<i class="ui-icon-rmb"></i> {{ totalPrice() }}</a>
    </nav>
        		<div ng-show="!registerUser">
        			<div ng-controller="SignupController">
        				<div ng-show="SignupShow">
        					<span>用户名：</span><input ng-model="username" type="text" placeholder="用户名">
        					<span>密码：</span><input ng-model="password" type="password" placeholder="密码">
        					<span>联系方式：</span><input ng-model="phonenum" type="text" placeholder="联系方式">
        					<span>地址：</span>
                            <select ng-model="sectionSelect"><option>西区</option><option>东区</option></select>
                            <select ng-show="sectionSelect=='西区'"><option ng-selected="buildID='X11'">X11</option><option ng-selected="buildID='X13'">X13</option><option ng-selected="buildID='X14'">X14</option><option ng-selected="buildID='X15'">X15</option></select>
                            <select ng-show="sectionSelect=='东区'"><option ng-selected="buildID='D11'">D11</option><option ng-selected="buildID='D13'">D13</option><option ng-selected="buildID='D14'">D14</option><option ng-selected="buildID='D15'">D15</option></select>
        					<button ng-click="signup()">注册</button>
        				</div>
        			</div>
        			<div ng-controller="LoginController">
        				<div ng-show="LoginShow">
        					<span>用户名：</span><input type="text" ng-model="username" placeholder="用户名">
        					<span>密码：</span><input type="password" ng-model="password" placeholder="密码">
        					<button ng-click="login()">登录</button>
        				</div>
        			</div>
        		</div>

                <div ng-controller="HistoryController">
                </div>
        		
        		<div ng-show="registerUser">
        			<button>{{ currentUser }}</button>
        			<ul>
        				<li>修改密码</li>
        				<li>个人信息</li>
        				<li>退出</li>
        			</ul>
        		</div>
        		
                <div ng-show="CartShow">
                    <table>
                        <tr>
                            <th>商品</th>
                            <th></th>
                            <th>数量</th>
                            <th></th>
                            <th>单价</th>
                            <th>删除</th>
                        </tr>
                        <tr ng-repeat="item in cart">
                            <td>{{ item.name }}</td>
                            <td><button href="" ng-click="decreaseGoods($index)">-</button></td>
                            <td>{{ item.quantity }}</td>
                            <td><button href="" ng-click="increaseGoods($index)">+</button></td>
                            <td><i class="ui-icon-rmb"></i> {{ item.price }}</td>
                            <td><button ng-click="removeGoods($index)">X</button></td>
                        </tr>
                    </table>
                    <button ng-click="clearGoods()">清空</button>
                    <span>总价：<i class="ui-icon-rmb"></i> </span>
                    <span>{{ totalPrice() }}</span>
                    <button ng-click="ProcessShow=!ProcessShow">{{ totalQuantity()?'去结算':'购物车为空' }}</button>        
        			<div ng-show="ProcessShow">
        				<span>选购流程</span>
        				<div ng-show="!processIndex">
        					<h3>第一步 确定洗衣清单</h3>
        					<button  ng-click="processIndex=1">下一步</button>
                            <table>
                                <tr>
                                    <th>商品</th>
                                    <th></th>
                                    <th>数量</th>
                                    <th></th>
                                    <th>单价</th>
                                    <th>删除</th>
                                </tr>
                                <tr ng-repeat="item in cart">
                                    <td>{{ item.name }}</td>
                                    <td><button href="" ng-click="decreaseGoods($index)">-</button></td>
                                    <td>{{ item.quantity }}</td>
                                    <td><button href="" ng-click="increaseGoods($index)">+</button></td>
                                    <td><i class="ui-icon-rmb"></i> {{ item.price }}</td>
                                    <td><button ng-click="removeGoods($index)">X</button></td>
                                </tr>
                            </table>
        				</div>
        				<div ng-show="processIndex==1">
        					<h3>第二步 确认个人信息</h3>
        					<button ng-click="processIndex=2">下一步</button>
        				</div>
        				<div ng-show="processIndex==2">
        					<h3>第三步 选择支付方式</h3>
        					<button ng-click="processIndex=0;ProcessShow=0;">下一步</button>
        				</div>
        			</div>
        		</div>

            <div ng-controller="GoodsListController">
                <h1>商品清单</h1>
                <div class="uk-panel uk-panel-box" ng-repeat="item in items">
                    <div class="uk-panel-teaser">
                        <img ng-src="img\{{ item.pic }}" alt="{{ item.name }}">
                    </div>
                    <span class="uk-button uk-button-danger">{{ item.name }}</span>
                    <span class="uk-button uk-button-primary"><i class="ui-icon-rmb"></i> {{ item.price }}</span>
                    <!-- <button class="uk-button uk-button-success" ng-click="addGoods(item.name, item.price)" ng-class="cart_{{ item.id }}: uk-animation-shake">加入购物车</button> -->
                    <button class="uk-button uk-button-success" ng-click="addGoods(item.name, item.price)">加入购物车</button>
                </div>
            </div>
    <div ng-controller="FeedBackController">
        <button ng-click="FeedBackShow=!FeedBackShow">反馈</button>
        <div ng-show="FeedBackShow">
            <span>联系方式</span><input ng-model="fbContact" type="text">
            <span>内容</span><input ng-model="fbContent" type="text">
            <button ng-click="fbUpload()">提交</button>
        </div>
    </div>
</body>
</html>