<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="static\angular.min.js"></script>
    <script type="text/javascript" src="static\angular-cookies.min.js"></script>
    <script type="text/javascript">

        var app = angular.module('LaundrySystem', ["ngCookies"])

        app.controller('ShoppingCartController', function ($scope, $cookieStore) {
			ProcessShow = 0;
			processIndex = 0;
            CartShow = 0;
			$scope.cart = [].concat($cookieStore.get("cart"));

            $scope.removeGoods = function (index) {
                $scope.cart.splice(index, 1);
				$cookieStore.put("cart", $scope.cart);
            };

            $scope.increaseGoods = function (index) {
                $scope.cart[index].quantity += 1;
				$cookieStore.put("cart", $scope.cart);
            }

            $scope.decreaseGoods = function (index) {
                $scope.cart[index].quantity -= 1;
                if ($scope.cart[index].quantity == 0) {
                    $scope.cart.splice(index, 1);
                }
				$cookieStore.put("cart", $scope.cart);
            }

            $scope.totalQuantity = function () {
                return $scope.cart.length;
            }

            $scope.totalPrice = function () {
                var total = 0;
                for (var i in $scope.cart) {
                    total += $scope.cart[i].quantity * $scope.cart[i].price;
                }
                return total;
            };

            $scope.addGoods = function (n, p) {
                for (var i in $scope.cart) {
                    if ($scope.cart[i].name == n) {
                        $scope.cart[i].quantity += 1;
                        return;
                    }
                }
                $scope.cart.push({name: n, quantity: 1, price: p});
				$cookieStore.put("cart", $scope.cart);
            };

            $scope.clearGoods = function () {
                $scope.cart.splice(0, $scope.cart.length);
				$cookieStore.put("cart", $scope.cart);
            };
        });

        app.controller('GoodsListController', function ($scope, $http) {
            $http.get('http://localhost:5000/goodsList').
                success(function(data, status, headers, config) {
                    $scope.items = data.goods;
                }).
                error(function(data, status, headers, config) {
                    alert("网络错误");
                });
        });

        app.controller('AddressController', function ($scope) {
            AddrShow = 0;
            Regions = 0;
            region = 1;
            // var currentAddr = $cookieStore.get('currentAddr');
            // $scope.confirmAddr = function(n) {
            //     $cookieStore.put('currentAddr', n);
            // }
        });

        app.controller('HistoryController', function ($scope) {

        });

        app.controller('SignupController', function ($scope) {
            SignupShow = 0;
        });

        app.controller('LoginController', function ($scope) {
            LoginShow = 0;
        });

    </script>
</head>
<body ng-app="LaundrySystem">
    <div ng-controller="HistoryController">
        <button>历史订单</button>
    </div>
    <div ng-controller="AddressController">
        <button ng-click="AddrShow=!AddrShow">当前地址：{{ currentAddr }}</button>
        <div ng-show="AddrShow">
            <ul>
                <li><span ng-mouseenter="Regions=0">上海</span></li>
                <li><span ng-mouseenter="Regions=1">杭州</span></li>
                <li><span ng-mouseenter="Regions=2">南京</span></li>
            </ul>
            <div ng-show="!Regions">
                <ul>
                    <li>
                        <span ng-mouseenter="region=0">闵行</span>
                    </li>
                    <li>
                        <span ng-mouseenter="region=1">松江</span>
                    </li>
                </ul>
                <ul ng-show="!region">
                    <li>上海交通大学</li>
                    <li>华东师范大学</li>
                    <li>紫竹科技园区</li>
                </ul>
                <ul ng-show="region==1">
                    <li>松江大学城一期</li>
                    <li>松江大学城二期</li>
                    <li>松江大学城三期</li>
                </ul>
            </div>
        </div>
    </div>

    <div ng-controller="ShoppingCartController">

		<div ng-show="!registerUser">
			<div ng-controller="SignupController">
				<button ng-click="SignupShow=!SignupShow">注册</button>
				<div ng-show="SignupShow">
					<span>用户名：</span><input type="text" placeholder="用户名">
					<span>密码：</span><input type="password" placeholder="密码">
					<span>联系方式：</span><input type="text" placeholder="联系方式">
					<span>地址：</span><select><option>X11</option><option>X13</option><option>X14</option><option>X15</option></select>
					<button>注册</button>
				</div>
			</div>
			<div ng-controller="LoginController">
				<button ng-click="LoginShow=!LoginShow">登陆</button>
				<div ng-show="LoginShow">
					<span>用户名：</span><input type="text" placeholder="用户名">
					<span>密码：</span><input type="password" placeholder="密码">
					<button>登陆</button>
				</div>
			</div>
		</div>
		
		<div ng-show="registerUser">
			<button>{{ currentUser }}</button>
			<ul>
				<li>修改密码</li>
				<li>个人信息</li>
				<li>退出</li>
			</ul>
		</div>
		
        <button ng-click="CartShow=!CartShow">购物车 {{ totalQuantity() }} 个项目 总价：￥ {{ totalPrice() }}</button>
        <div ng-show="CartShow">
            <table>
                <tr>
                    <th>商品</th>
                    <th></th>
                    <th>数量</th>
                    <th></th>
                    <th>单价</th>
                    <th>删除</th>
                </tr>
                <tr ng-repeat="item in cart">
                    <td>{{ item.name }}</td>
                    <td><button href="" ng-click="decreaseGoods($index)">-</button></td>
                    <td>{{ item.quantity }}</td>
                    <td><button href="" ng-click="increaseGoods($index)">+</button></td>
                    <td>￥ {{ item.price }}</td>
                    <td><button ng-click="removeGoods($index)">X</button></td>
                </tr>
            </table>
            <button ng-click="clearGoods()">清空</button>
            <span>总价：￥ </span>
            <span>{{ totalPrice() }}</span>
            <button ng-click="ProcessShow=!ProcessShow">结算</button>        
			<div ng-show="ProcessShow">
				<span>选购流程</span>
				<div ng-show="!processIndex">
					<h3>第一步 确定洗衣清单</h3>
					<button  ng-click="processIndex=1">下一步</button>
				</div>
				<div ng-show="processIndex==1">
					<h3>第二步 确认个人信息</h3>
					<button ng-click="processIndex=2">下一步</button>
				</div>
				<div ng-show="processIndex==2">
					<h3>第三步 选择支付方式</h3>
					<button ng-click="processIndex=0;ProcessShow=0;">下一步</button>
				</div>
			</div>
		</div>
		
        <div ng-controller="GoodsListController">
            <h1>商品清单</h1>
            <table>
                <tr>
                    <th>商品</th>
                    <th>价格</th>
                    <th>图片</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="item in items">
                    <td>{{ item.name }}</td>
                    <td>￥ {{ item.price }}</td>
                    <td><img ng-src="img\{{ item.pic }}"></td>
                    <td><button ng-click="addGoods(item.name, item.price)">加入购物车</button></td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>